PORT=9000
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/mastermind
REDIS_URL=redis://localhost:6379

JWT_SECRET=change-me
COOKIE_SECRET=change-me

MEDUSA_WORKER_MODE=shared
DISABLE_MEDUSA_ADMIN=true

STORE_FRONTEND_URL=http://localhost:3000
ADMIN_FRONTEND_URL=http://localhost:3001
POS_FRONTEND_URL=http://localhost:3002

STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:3001,http://localhost:3002
AUTH_CORS=http://localhost:3000,http://localhost:3001,http://localhost:3002
